/* Copyright 2025 2753MARK */

body{

font-family: 'Times New Roman', Times, serif;

background-color: azure;
text-decoration: none;


}

h1{
    color: rgb(0, 183, 255);
    text-align: center;
    
}

table{
    max-width: 500px;
}

table thead{
    border: solid 2px;
 padding: auto;
}

th{
    padding: 2px;
    border: 1px;
}
tbody{
    border: solid 3px;
    padding: auto;
}